extends ../base.pug

block variables
	- var template = 'home'

block content
	.home(data-background="#292929" data-color="#F9F1E7")
		.home__wrapper
			.home__image 
				figure.home__image__media
					img.home__image__media__image(alt=home.data.hero.alt src=home.data.hero.url)

			.home__titles 
				h1.home__titles__marguee=home.data.marquee

			each section in home.data.body
				if section.slice_type == 'gallery'
					each media in section.items
						figure.about__gallery__media
							img.about__gallery__media__image(alt=media.galleryimage.alt src=media.galleryimage.url)

				if section.slice_type == 'title'

					h2=section.primary.title